<div class="main">

  <div class="grid-container"> 

    <div class="box">

      <h3 class="h3-color" (click)="removeItem($event)" id=0> {{ this.movies[0] }}</h3>
      <!--h5>{{ name }}</h5-->
    
      </div>

      <div class="box">

          <h3 class="h3-color" (click)="removeItem($event)" id=1>{{ this.movies[1]}}</h3>
      
        </div>

        <div class="box">

            <h3 class="h3-color" (click)="removeItem($event)" id=2>{{ this.movies[2]}}</h3>
        
          </div>

          <div class="box">

              <h3 class="h3-color" (click)="removeItem($event)" id=3>{{ this.movies[3]}}</h3>
          
            </div>

            <div class="box">

                <h3 class="h3-color"  (click)="removeItem($event)" id=4>{{ this.movies[4]}}</h3>
            
              </div>

              <div class="box">

                  <h3 class="h3-color" (click)="removeItem($event)" id=5>{{ this.movies[5]}}</h3>
              
                </div>

                <div class="box">

                    <h3 class="h3-color"  (click)="removeItem($event)" id=6>{{ this.movies[6]}}</h3>
                
                  </div>  <div class="box">

                      <h3 class="h3-color"  (click)="removeItem($event)" id=7>{{ this.movies[7]}}</h3>
                  
                    </div>
      
  </div>
  
  <div class="wrapper">
      
      <div class="nested">

        <div (click)="onclick($event)" id=1>1</div>
        <div (click)="onclick($event)" id=2>2</div>
        <div (click)="onclick($event)" id=3>3</div>
        <div (click)="onclick($event)" id=4>4</div>
        <div (click)="onclick($event)" id=5>5</div>
        <div (click)="onclick($event)" id=6>6</div>
        <div (click)="onclick($event)" id=7>7</div>
        <div (click)="onclick($event)" id=8>8</div>
        <div (click)="onclick($event)" id=9>9</div>

      </div>
    
  </div>

</div>
